.classroom {
  background-color: $dark;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
  .site-main {
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 6em black inset;
    color: $light;
    overflow: hidden;
  }

}
  .class-title {
    margin: 0;
    text-transform: none;
    font-size: 2em;
  }

  .class-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    > * {
      display: inline-block;
      vertical-align: bottom;
      margin-right: -4px;
    }
  }
    .class-skip {
      text-transform: uppercase;
      color: white;
      &:hover {
        color: #ccc;
      }
    }

    @include bp(phone) {
      .class-header {
        text-align: left;
      }
      .class-title {
        width: 70%;
      }
      .class-meta {
        text-align: right;
        width: 30%;
      }

    }


  .class-nav {
    border: 1px solid #323232;
    background-color: #1b1b1b;
    padding: 20px;
  }

      .class-nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          &:nth-child(2n+1) {
            background-color: rgba(0,0,0,0.4);
          }
          padding: 0.5em;
          font-weight: 300;
          color: $grey;
          &.wpclr-cl-item--current a {
            color: $grey;
            background-color: transparent;
            pointer-events: none;
            cursor: default;
            .class-order {
              background-color: $grey;
            }
          }

          &.wpclr-cl-item--completed a:after {
            content: "\f058";
            color: $brand-success;
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            float: right;
          }
        }
        a {
          color: $light;
          display: block;
          margin: -0.5em;
          padding: 0.5em;
          &:hover {
            background-color: rgba($accent, 0.8);
          }
        }
      }

  .class-breadcrumb {
    background-color: #323232;
    padding: 0;
    margin: -20px -20px 20px -20px;
    overflow: hidden;
    text-align: center;
    > li {
      display: inline-block;
      vertical-align: top;
      padding: 20px;
      height: 100%;
      font-family: $text-header;
      font-size: 1.5em;
      color: #c4c4c4;
      &.wpclr-course--active {
        background-color: $accent;
        .wpclr-course__title, 
        a:hover .wpclr-course__title {
          color: white;
        }
      }
      .wpclr-course__title {
        color: #c4c4c4;
      }
      a:hover .wpclr-course__title {
        color: $accent;
      }
      text-transform: uppercase;
      position: relative;
      border-right: 1px solid #4d4d4d;
      height: 100%;
      margin-right: -4px;
      span {
        position: relative;
        z-index: 2;

        img {
          vertical-align: top;
          opacity: 0.7;
        }
      }

      &.active {
        background-color: $brand-primary;
        color: white;
        span img {
          opacity: 1;
        }
      }

      &.wpclr-course {
        &:before {
          content: " ";
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          height: 25px;
          width: 25px;
          vertical-align: middle;
          margin-right: 0.5em;
          opacity: 0.7;
        }
        &--apprentice:before {
          background-image: url(../../images/icon-apprentice.png);
        }
        &--hero:before {
          background-image: url(../../images/icon-hero.png);
        }
        &--mastery:before {
          background-image: url(../../images/icon-mastery.png);
        }
        &--superhero:before {
          background-image: url(../../images/icon-superhero.png);
        }
      }
    }
    @include bp(phone) {
      text-align: left;
      height: 80px;
    }

  }

  @include bp(phone){
    .classroom .site-main {
      overflow: hidden;
      padding: 1em 0;
    }
    .class-title {
      padding-top: 0;
      text-align: left;
    }
  }

  .class-order {
    font-size: 0.7em;
    font-weight: 700;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 0.8em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
    background-color: $light;
    color: $dark;
    &.class-order--current {
      opacity: 0.6;
    }
  }

  .class-actions {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    .btn-block {
      margin: 0 20px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include bp(phone) {
    .class-actions {
      flex-direction: row;
    }
  }

.user-class-profile {
  text-align: center;
  background: #252525 repeat-x top center;
  padding: 20px;
  margin-bottom: 40px;

  &.uc-profile--apprentice {
    background-image: url(../../images/belt-white.png);
  }
  &.uc-profile--hero {
    background-image: url(../../images/belt-yellow.png);
  }
  &.uc-profile--superhero {
    background-image: url(../../images/belt-orange.png);
  }
  &.uc-profile--mastery {
    background-image: url(../../images/belt-green.png);
  }
}
.user-class-avatar {
  margin: 20px 0;
  display: inline-block;
  position: relative;
  img {
    border-radius: 50%;
    border: 5px solid white;
    background-color: white;
  }
}
  .user-class-avatar__level {
    position: absolute;
    bottom: -5px;
    right: -10px;
  }
  .user-class-profile-name {
    word-spacing: 1000px;
  }

  .class-bonuses {
    text-transform: uppercase;
    p:first-of-type {
      opacity: 0.8;
    }
  }

.classroom-footer {
  display: flex;
  flex-direction: column;
  @include bp(phone) {
    flex-direction: row;
  }
}
  .class-footer__cell {
    margin: 1em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

.wpclr-complete-class-form {
  display: inline-block;
  margin-left: 0.5em;
}
.wpclr-complete-class {
  color: $light;
  border: 1px solid $light;
  background-color: transparent;
  border-radius: 3px;
  padding: 0.5em 1em;
  &:hover {
    color: $accent;
    border-color: $accent;
  }
  &[disabled] {
    background-color: rgba(255,255,255,0.1);
    margin-left: 0.5em;
    border-color: darken($light, 20%);
    color: darken($light, 20%);
    &:hover {
      color: inherit;
      border-color: inherit;
      cursor: not-allowed;
    }
  }
}

.wpclr-progress-bar {
  height: 20px;
  border-radius: 10px;
  width: 100%;
  background-color: $grey;
  overflow: hidden;
  margin-bottom: 1em;
}
.wpclr-progress-txt {
  text-align: center;
  color: $light;
}
.wpclr-progress-indicator {
  display: block;
  float: left;
  height: 100%;
  background: $accent;
}
