/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
	clear: both;
	width: 100%;
	background: #2c2927;
	color: $light;
}

    .foot-cell-title {
      @extend .h3;
    }

  .footer-cells {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: $spacer 0;
    @include bp(phone) {
      flex-direction: row;
    }
  }
    .foot-cell {
      * {
        vertical-align: middle;
      }
      > div {
        display: inline-block;
        vertical-align: middle;
      }
      &-title {
        display: inline-block;
        margin: 0 1em 0 0;
      }
      .social-line {
        margin-bottom: 0;
        font-size: 2em;

        a {
          margin: 0 10px;
        }
      }
    }



  .site-info {
    text-transform: uppercase;
    background-color: $dark;
    padding: 2rem;
    text-align: left;
    color: #a8a8a8;
    .menu {
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-left: 1em;
      }

      a {
        color: #a8a8a8;
        &:hover {
          color: $link-color;
        }
      }
    }
  }
