/* ==========================================================================
   Forms
   ========================================================================== */
.btn {
  text-transform: uppercase;
  font-weight: 700;
}
.button {
  @extend .btn;
  @extend .btn-primary;
}

.btn-inverse {
  @extend .btn-primary;
}
.button-primary {
  @extend .btn;
  @extend .btn-primary;
}
.btn-light {
  @extend .btn-default;
  border-color: $light;
  border-width: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $text-header;
  color: $light;
  background-color: transparent;
}

.btn-small {
  @extend .btn-sm;
}

/* Gravity Forms */

.gform_wrapper { }
.gform_heading { }
.gform_description { }
.gform_body { }
.gform_fields { }
.gfield { }
.ginput_container { }
.gform_footer { }
.gform_button { }

input[type="text"],
input[type="password"],
input[type="email"] {
  @extend .form-control;  
}

.comment-form-comment {
  @extend .form-control;
}
