/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.contain {
  overflow: hidden;
}

.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.nav {
 list-style: none;
 padding: 0;
 margin: 0;
 li {
   display: inline-block;
 }
}


.table-display {
  display: table;
  table-layout: fixed;
}

.res-img {
  display: block;
  width: 100%;
  height: auto;
}

.bw-img {
  img {
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    @include transition(all, 200ms, ease-in-out);
  }

  &:hover img {
    filter: none;
    -webkit-filter: none;
  }
}

.social-line {
  a {
    font-size: 1.5em;
    margin: 0 0.5em;
  }
}

.list-tags {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }

  a, a:link {
    display: block;
    background: $accent;

    color: $light;
    &:visited {
      color: darken($light, 10%);
    }

    padding: 4px 6px;
  }

  i {
    font-size: 1.5em;
  }

}

.pill {
  $pill-height: 2em;
  display: inline-block;
  border: 1px solid $accent;
  color: $accent;
  font-size: 1em;
  height: $pill-height;
  line-height: $pill-height;
  border-radius: $pill-height/2;
  padding: 0 $pill-height/2;
  background: transparent;
  outline: none;
  &.active,
  &:focus {
    background-color: $accent;
    color: $light;
  }
}


.desaturate {
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

.text-upper {
  text-transform: uppercase;
}
