/*********************
CONTAINER
*********************/
.helpout {
  width: 100%;
  margin: auto;
  position: relative;
}

/*********************
NAVIGATION
*********************/
.helpout-nav {  
  overflow: hidden;
  background: $accent;
  border: 1px solid darken($accent, 20%);
  color: $light;
  height: 60px;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 700;
}
.helpout-nav ul {
  display: table;  
  width: 100%;
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.helpout-nav li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
  color: rgba(255,255,255,0.5);
  cursor: not-allowed;
  background: darken($accent, 10%);
  border-left: 1px solid darken($accent, 20%);
  border-right: 1px solid lighten($accent, 5%);
}
.helpout .nav,
.helpout-nav li.visited {
  background: none;
  color: white;
  cursor: pointer;
}

.helpout-nav li.nav:hover,
.helpout-nav li.active {
  background: $accent;
  box-shadow: 0 0 12px rgba(0,0,0,0.4) inset;
}
.helpout .nav {
  font-size: 18px;
}
li.prev {
  border-left: none;
}
li.next {
  border-right: none;
}

/*********************
STEPS
*********************/
.step {
  opacity: 0;
  display: none;
  position: relative;
  top: 0px; /* nav height */
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid darken($accent, 20%);
  padding: $small-spacer $spacer $spacer $spacer;
  overflow: hidden;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;

}
.step > h1 {
  text-align: center;
}
.step > h1 small {
  display: block;
  opacity: 0.7;
  font-size: 60%;
  text-transform: none;
  font-weight: 300;
}

.step-active {
  z-index: 9;
  display: block;
  opacity: 1;
}

/* ==========================================================================
   MODULES
   ========================================================================== */

/*********************
SIGNUP FORMS
*********************/
.helpout-signup {
  display: block;
  overflow: hidden;
}
.helpout-signup input {
  margin: 0;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
.helpout-signup input:first-child {
  border-radius: 5px 0 0 5px;
  width: 60%;
}
.helpout-signup input:last-child {
  border-radius: 0 5px 5px 0;
  width: 40%;
}
.helpout-signup input[type="text"],
.helpout-signup input[type="email"] {
  box-sizing: border-box;
}
.helpout-signup input[type="submit"] {
  background: $accent;
  color: white;
  border: none;
}

/* ==========================================================================
   INDIVIDUAL STEPS
   ========================================================================== */

/*********************
START
*********************/
.helpout-start {
  text-align: center;
  font-size: 24px;
  line-height: 1.4;
}

/*********************
FOLLOW
*********************/
.helpout-follow-widgets {
  float: left;
  width: 60%;
}
.helpout-follow-video {
  float: right;
  width: 35%;
}

.helpout-follow-social {
  list-style: none;
  padding: 0;
  background: $accent;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.helpout-follow-social li {
  background: #fff;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  margin: 6px;
  padding: 4px 8px;
  border-radius: 14px;
}

/*********************
SPREAD
*********************/
.helpout-spread textarea {
  float: left;
  margin-right: 60px;
  width: 40%;
  height: 180px;
  padding: 40px;
  font-size: 18px;
  line-height: 1.6;
}
.helpout-spread ul {
  list-style: none;
  font-size: 18px;
}
.helpout-spread li {
  margin-bottom: 30px;
}
.helpout-spread li i {
  font-size: 32px;
  width: 40px;
  vertical-align: middle;
}

/*********************
MEDIA
*********************/
.helpout-media a {
  display: block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 258px;
  background: url(../img/cover-photo.png) no-repeat center top;
  background-size: cover;
}
.helpout-media a span {
  display: inline-block;
  margin-top: 100px;
  text-shadow: none;
  text-transform: white;
  font-size: 32px;
  line-height: 32px;
  font-weight: bolder;
  letter-spacing: -0.01em;
  color: #fff;
  background: $accent;
  padding: 15px 45px;
}
.helpout-media img {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: auto;
}

/*********************
THUNDERCLAP
*********************/
.helpout-thunderclap-info {
  float: left;
  width: 50%;
}

.helpout-thunderclap-info img {
  width: 100%;
  height: auto;
}
.helpout-thunderclap iframe {
  float: right;
}

/*********************
GREENSEED
*********************/
.helpout-greenseed-info {
  float: left;
  width: 50%;
  
  font-size: 18px;
  line-height: 26px;
}

.helpout-greenseed-info img {
  width: 100%;
  height: auto;
}
.helpout-greenseed iframe {
  float: right;
}

/*********************
DONATE
*********************/
.helpout-donate {
  text-align: center;
}

/*********************
BUTTON
*********************/
.helpout-btn {
  @extend .btn;
}
