/* ==========================================================================
   Layout
   ========================================================================== */

@include bp(phone){
  body {
    margin-top: $site-header-height;
  }
}

.wrap {
  width: 95%;
	max-width: $pageWidth;
	margin-left: auto;
	margin-right: auto;
}

/*********************
HEADER
*********************/
.site-branding {
  * {
    margin: 0;
  }
}
.main-navigation {
  text-transform: uppercase;
  font-size: 0.9em;
  a {
    font-weight: 700;
  }

}

  .site-header {
    width: 100%;
    background-color: $dark;
    text-align: center;
    @include bp(phone){
      text-align: left;
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      height: $site-header-height;
    }
  }

@include bp(phone){
  .site-branding {
    float: left;
  }
  .main-navigation {
    float: right;
  }
  .content-area-sidebar {
  	float: left;
  	margin: 0 -25% 0 0;
  	width: 100%;
    .site-main {
    	margin: 0 30% 0 0;
    }

  }
  .site-content {

    .widget-area {
    	float: right;
    	width: 25%;
    }

  }
}


.page-header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  overflow: hidden;

  margin: 0;
  padding: 0;
  border: none;
}

  .page-header--bg {
    min-height: 40rem;
    color: $light;
  }

.entry-header,
.widget-area {
  margin-top: $spacer;
}


/*********************
SECTIONS
*********************/
.section {
  overflow: hidden;
  text-align: center;
  background: no-repeat top center fixed;
  background-size: cover;

  padding-top: $spacer;
  padding-bottom: $spacer;

  &.s-nopad {
    padding: 0;
  }
  @include bp(phone){
    padding: $spacer;
    &.s-bigpad {
      padding: $big-spacer;
    }
    &.s-smallpad {
      padding: $small-spacer;
    }
  }

  &.s-dark {
    background-color: $dark;
    color: $light;
  }
  &.s-light {
    background-color: $light;
    color: $dark;
  }

  color: $light;
  font-size: 1.5em;
  font-weight: 300;

  h1 {
    font-size: 2.5em;
    margin: 0;
  }

}

.s-blogfeed {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @include bp(phone){
    display: table;
    table-layout: fixed;
    li {
      display: table-cell;
      vertical-align: middle;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    background: $dark;
    position: relative;
    color: $light;

    &:hover {
      img {
        opacity: 0.8;
      }
      .s-blogfeed-content {
        opacity: 0;
      }
    }
  }

  .s-blogfeed-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: $small-spacer;
    width: 100%;
    z-index: 9;
    opacity: 1;
    font-size: 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    @include transition(opacity, 200ms, ease-in-out);

    h3 {
      font-weight: 300;
      font-family: $sans-serif;
      word-wrap: break-word;
    }
  }

  img {
    @extend .res-img;
    opacity: 0.2;
    margin: 0;
    @include transition(opacity, 200ms, ease-in-out);
  }

}

/*********************
TESTIMONIALS
*********************/
.s-testimonials {

}

.s-testimonial {
  overflow: hidden;
  text-align: left;
  margin: 0;
  @include bp(phone){
    img {
      float: left;
      width: 30%;
      margin-right: $spacer;
    }
  }
  figcaption {
    font-style: italic;
  }
}

/*********************
KICK SIDEBAR
*********************/
.kick-sidebar {
  background: black;
  color: white;
  width: 80%;
  height: 100%;
  padding: $small-spacer;
  position: fixed;
  right: -80%;
  top: 0;
  z-index: -1;
  @include transition( all, 200ms, ease-in-out );

  h1 {
    margin-top: 0;
  }

  &.active {
    right: 0;
    z-index: 101;
  }

  .kick-close {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: $rad 0 0 $rad;
    background: rgba(0,0,0,0.6);
    border: none;
    font-size: 15px;
    line-height: 1;
    color: $light;
    &:hover {
      color: $accent;
    }
  }


  @include bp(phone) {
    padding: $spacer;
    width: 400px;
    right: -440px;
    .kick-close {
      width: 40px;
      height: 40px;
      left: -40px;
      font-size: 30px;
    }
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li:nth-child(2n+1) {
      background: rgba(255,255,255,0.1);
    }

    a {
      display: block;
      padding: 0.5em;
      &:hover {
        background-color: white;
        color: $accent;
      }
    }

  }

}

  .kick-widget {
    margin-bottom: 2em;
  }

.darken-page {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
