.media-grid-filters {
  button {
    margin: 0.5em;
    font-size: 0.8em;
  }

}


.media-item {
  width: 25%;
  background-color: $dark;
  display: block;
  border: 3px solid $light;
  img {
    @extend .res-img;
    position: relative;
    z-index: 1;
  }

  &:hover {

    img {
      opacity: 0.3;
    }

    .media-item-has-image {
      opacity: 1;
    }
  }

  &:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 4em;
    position: absolute;
    top: $pad;
    left: $pad;
    color: rgba(255,255,255,0.2);
    z-index: 2;
  }

  &.link:before {
    content: '\f0c1';
  }
  &.quote:before {
    content: '\f10d';
  }
  &.aside:before {
    content: '\f15c';
  }
  &.video:before {
    content: '\f144';
  }
  &.image:before {
    content: '\f03e';
  }
  &.standard:before {
    content: '\f14b';
  }


}
  .media-item-text {
    color: $light;
    padding: $small-spacer;
    text-align: center;
    overflow: hidden;
    font-size: 0.7em;
    * {
      font-weight: 300;
      font-family: $sans-serif;
      word-wrap: break-word;
      text-overflow: ellipsis;
    }

    &.media-item-has-image {
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      width: 100%;
    }
  }

.media-item.w2 { width: 50%; }
