/* ==========================================================================
   Menus
   ========================================================================== */


.main-navigation {

  ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
    }
    a {
      color: $light;
      padding: 0 15px;
      &:hover {
        color: $accent;
      }
    }
  }
  li {
    margin: 0 0.5em;
  }

  @include bp(phone){
    * {
      line-height: $site-header-height;
    }
    .menu-primary {
      float: right;
    }

    ul {
      margin: 0;
    }
    li {
      margin: 0 0 0 1em;
    }
  }

  button {
    border: none;
    background: none;
    color: $light;
    @include bp(phone){
      float: right;
      background: $accent;
      height: 100%;
      font-size: 1.2em;
      padding: 0 2em;
      margin-left: 1em;
    }
  }


}


.main-navigation a {
	display: block;
	text-decoration: none;
}


.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
  color: $accent;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
