/* ==========================================================================
   Posts and pages
   ========================================================================== */

.entry-title {
  margin: 0;
}

.entry-header {
  padding: $small-spacer 0;
  border-bottom: 4px solid $dark;
  border-top: 4px solid $dark;
  position: relative;
  img {
    margin: 0;
    @extend .res-img;
    position: relative;
    top: $small-spacer;
  }

  
  &.entry-header-image {
    background: $dark no-repeat center center;
    background-size: cover;
    padding-left: $small-spacer;
    padding-right: $small-spacer;
    color: $light;
    a {
      color: $light;
      &:hover {
        color: $accent;
      }
    }
    * {
      position: relative;
      z-index: 2;
    }
    .entry-header-overlay {
      z-index: 1;
      position: absolute;
      background: rgba(0,0,0,0.8);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:hover .entry-header-overlay {
      background: rgba(0,0,0,0.7);
    }
  }

  &.entry-header-full {
    color: $light;
    position: relative;
    padding: 0;
    border: none;
    margin-top: 0;

    img {
      position: static;
    }

    .entry-title {
      text-align: center;
      position: absolute;
      top: 40%;
      width: 100%;
      border: none;
      z-index: 2;
    }
  }
}


.sticky {
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;


  .h1, .h2, .h3, .h4, .h5, .h6,
  h1, h2, h3, h4, h5, h6 {
  	margin: 1em 0;
  }

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.site-main .gallery {
	margin-bottom: 1.5em;
}

.gallery-caption {
}

.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}

.site-main .gallery dd,
.site-main .gallery figcaption {
	margin: 0;
}

.site-main .gallery-columns-4 .gallery-item {
}

.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


.author-box {
  overflow: hidden;
  background: $light-grey;
  padding: $small-spacer;

  img {
    float: left;
    margin-right: $small-spacer;
  }

  h1 {
    margin: 0;
  }

  p {
    font-size: 0.75em;
  }

  .list-tags {
    float: left;
  }
}
