/* ==========================================================================
   Blog pages
   ========================================================================== */

body.blog { }

.nav-links a {
  @extend .pill; 
  overflow: hidden; 
  margin: $pad 0;
}