@include bp(phone) {
  .lined-title {
    margin-top: 1em;
    line-height: 0;
    text-align: center;
    span {
      display: inline-block;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        background-color: $accent;
        height: 5px;
        top: 0;
        width: 600px;
      }
      &:before {
        right: 100%;
        margin-right: 15px;
      }
      &:after {
        left: 100%;
        margin-left: 15px;
      }
    }
    // &.lined-title--dark {
    //   span {
    //     &:before,
    //     &:after {
    //       background-color: $dark;
    //     }
    //   }
    // }
  }
}

.page.has-post-thumbnail.hentry {
  margin: 0;
}

.section-cta,
.section-icon,
.image-panel {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section-cta,
.section-icon {
  padding: 4rem;
  text-align: center;
  color: $light;
}

.section-cta {
  &.section-cta--dark {
    color: $dark;
  }
  p {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 300;
  }
}

.section-icon {
  &.section-icon--dark {
    color: $dark;
  }
}
.section-icon__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  @include bp(phone) {
    flex-direction: row;
  }
  li {
    margin: 2em;
    flex: 1;

    h3 {
      margin: 2rem 0;
    }
    p {
      opacity: 0.5;
    }
  }
}

.image-panel {

  ul {
    padding-left: 1em;
    list-style-type: square;
    list-style-type: '-';
  }
  &.image-panel--right {
    .image-panel__content {
      float: right;
      justify-content: flex-start;
    }
  }
  &.image-panel--dark {
    color: $light;
    .image-panel__content {
      background-color: rgba(0,0,0,0.6);
    }
  }
}
  .image-panel__content {
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-color: rgba(255,255,255,0.6);
  }

  @include bp(phone) {
    .image-panel__content {
      width: 50%;
      float: left;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      > div {
        max-width: 300px;
      }
    }
  }
