.flex-control-paging {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 6px;
  }

  a {
    display: block;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: $dark;
    cursor: pointer;
    &:hover,
    &.flex-active {
      background: $accent;
    }
  }
}

.m-testimonials {
  box-sizing: content-box;
  * {
    box-sizing: content-box;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}
