/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 1000px;


// Colors
$red: #b00f1b;
$blue: blue;

$brand-primary: $red;

$light:         #fff;
$dark:          #1b1b1b;
$dark_rgb:      "27,27,27";
$grey:          #b2b2b2;
$light-grey:    #f2f2f2;
$accent:        #b00f1b;

$link-color: $accent;
$link-hover: darken($accent, 10%);

$selectionColor: $accent;

$site-header-height: 100px;

/* ==========================================================================
   FONTS
   ========================================================================== */

//OSWALD
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

//LATO
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);

//FONT AWESOME
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

$sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$text-header: "Oswald", $sans-serif;


/* ==========================================================================
   SPACING
   ========================================================================== */

$spacer: 60px;
$small-spacer: 20px;
$big-spacer: 120px;


$rad: 0;


$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$input-border-focus: $brand-primary;

$link-hover-decoration: none;
