/* ==========================================================================
   Widgets
   ========================================================================== */

.widget {
	margin-bottom: $spacer;
	padding-top: 10px;
	border-top: 4px solid $dark;
}

  .widget-title {
    @extend .h3;
  }

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.share-post {
  background: rgba(255,255,255,0.9);
  list-style: none;
  padding: 5px 0;
  margin: 0;
  
  li {
    display: inline-block;  
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
  }
  
  &.stuck {
    position: fixed;
    width: 100%;
    left: 0;
    top: $site-header-height;
    z-index: 99;

    text-align: center;    
    padding: 15px 0;
  }
}